{% extends '..//base.html' %}

{% load static %}

{% block title %}FT_Courses | cyber security{% endblock title %}

{% block bca-content %}

<section class="heading-BCA header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Cyber Security</h2>
        </div>
        <div class="main-button-red">
          <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
      </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter=".over" class="active">Overview</li>
                  <li data-filter=".highlights" >Key Highlights</li>
                  <li data-filter=".elig">Eligibility</li>
                  
                  <!-- <li data-filter=".fees">Fees</li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="templatemo-item-col all over">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        SecureSphere is a visionary cybersecurity initiative brought forth by Microsoft, 
                        designed to provide organizations with an integrated approach to safeguarding their 
                        digital assets. Comprising a series of modules, each addressing critical facets of 
                        cybersecurity, this program ensures a holistic defence strategy.
                        <br><br>
                        SecureSphere unites Microsoft formidable cybersecurity 
                        solutions, leveraging their depth and breadth to establish a 
                        comprehensive defence against threats that span across 
                        endpoints, identities, cloud services, and beyond.
                        <br><br>
                        By 2025, India & US will face a demand supply gap of 200,000 Data Science professionals.
                      </p>
                      <!-- <img src="https://cdn.pixabay.com/photo/2022/01/12/18/51/contact-us-6933645_640.jpg" class="crs-img" alt=""> -->
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                    <div class="row grid">
                      <div class="templatemo-item-col all highlights">
                        <div class="meeting-single-item">
                          <div class="down-content">
                            <p class="description">
                                o Applied and Self-paced learning
                                <br>
                                o Industry Projects & Case Studies
                                <br>
                                o Placement Assistance
                                <br>
                                o 24*7 Support
                                <br>
                                o 1:1 Mock Interview
                                <br>
                                o No Cost EMI Option
                                <br>
                                o Live Classes
                                <br>
                                o IIM Bangalore & Shillong experts
                                <br>
                                o 1-1 with Industry Mentors
                                <br>
                                o Resume & LinkedIn Profile Review
                                <br>
                                o For Working Professionals & Freshers
                                <br>
                                o Campus Immersion - Fameux Technologies
                              </p>
                            <!-- <img src="https://cdn.pixabay.com/photo/2022/01/12/18/51/contact-us-6933645_640.jpg" class="crs-img" alt=""> -->
                          </div>
                        </div>
                      </div>

                <div class="templatemo-item-col all elig">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        o Bachelor's degree and a keen interest to learn Al and Data Science
                        <br><br>
                        o Professionals seeking career transition as Data Scientists and A.I. Engineers
                        <br><br>
                        o Professionals aiming to move ahead in their IT career
                        <br><br>
                        o A.I. and Business Intelligence professionals
                        <br><br>
                        o Developers and Project Managers
                        <br><br>
                        o Freshers who aspire to build their career in the field of Artificial Intelligence and Data Science
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="main-button-red">
            <div class="scroll-to-section">
                <a href="/Dev_Vibe/static/images/course-02.jpg" download="proposed_file_name">
                   Download Broucher
                </a>
            </div>
        </div>
      </div>
    </div>

{% endblock bca-content %}  
    