{% extends '..//base.html' %}

{% load static %}

{% block title %}FT_Courses | Data Science{% endblock title %}

{% block bca-content %}

<section class="heading-BCA header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Web Development</h2>
        </div>
        <div class="main-button-red">
          <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
      </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter=".over" class="active">Overview</li>
                  <li data-filter=".highlights" >Key Highlights</li>
                  <li data-filter=".elig">Eligibility</li>
                  
                  <!-- <li data-filter=".fees">Fees</li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="templatemo-item-col all over">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        Over 100 hours and six modules, you'll gain essential skills in programming, 
                        front-end and back-end development, mobile app creation, DevOps, and explore 
                        the exciting world of blockchain and DeFi. Ideal for beginners and those aiming to 
                        become proficient web developers.
                      </p>
                      <!-- <img src="https://cdn.pixabay.com/photo/2022/01/12/18/51/contact-us-6933645_640.jpg" class="crs-img" alt=""> -->
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                    <div class="row grid">
                      <div class="templatemo-item-col all highlights">
                        <div class="meeting-single-item">
                          <div class="down-content">
                            <p class="description">
                                o Applied and Self-paced learning
                                <br>
                                o Industry Projects & Case Studies
                                <br>
                                o Placement Assistance
                                <br>
                                o 24*7 Support
                                <br>
                                o 1:1 Mock Interview
                                <br>
                                o No Cost EMI Option
                                <br>
                                o Live Classes
                                <br>
                                o IIM Bangalore & Shillong experts
                                <br>
                                o 1-1 with Industry Mentors
                                <br>
                                o Resume & LinkedIn Profile Review
                                <br>
                                o For Working Professionals & Freshers
                                <br>
                                o Campus Immersion - Fameux Technologies
                              </p>
                            <!-- <img src="https://cdn.pixabay.com/photo/2022/01/12/18/51/contact-us-6933645_640.jpg" class="crs-img" alt=""> -->
                          </div>
                        </div>
                      </div>

                <div class="templatemo-item-col all elig">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        o Bachelors with keen interest in upskilling
                        <br><br>
                        o Professionals seeking career transition 
                        <br><br>
                        o Professionals aiming to move ahead in their present career
                        <br><br>
                        o Business Intelligence professionals
                        <br><br>
                        o Developers and Project Managers
                        <br><br>
                        o Freshers who aspire to build their career with a good platform
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="main-button-red">
            <div class="scroll-to-section">
                <a href="/Dev_Vibe/static/images/course-02.jpg" download="proposed_file_name">
                   Download Broucher
                </a>
            </div>
        </div>
      </div>
    </div>

{% endblock bca-content %}  
    