{% extends '..//base.html' %}

{% load static %}

{% block title %}Courses{% endblock title %}

{% block bca-content %}

<section class="heading-BCA header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Bachelor Of Arts</h2>
        </div>
        <div class="main-button-red">
          <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
      </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter=".over" class="active">Overview</li>
                  <li data-filter=".elig">Eligibility</li>
                  <li data-filter=".syll">Syllabus</li>
                  <li data-filter=".fees">Fees</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="templatemo-item-col all over">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        To impart the knowledge and analysts power to understand the society and the economy.
                        <br><br>
                        To enable students employable in government and private sectors.
                        <br><br>
                        To impart skills to understand the working of the society, economy and polity.
                        <br><br>
                         </p>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all elig">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        Recognition:
                        <br>
                        UGC, DEC, AIU
                        <br><br>
                        Duration:
                        <br>
                        Min. 3 Years Max. 6 years
                        <br><br>
                        Eligibility:
                        <br>
                        Senior Secondary (10+2) pass or equivalent in Science discipline from any recognized Board.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- timeline -->
                <div class="templatemo-item-col all syll">
                  <div class="meeting-single-item">
                    <div class="container">
                      <div class="swiper-container-wrapper swiper-container-wrapper--timeline">
                        <!-- Timeline -->
                        <ul class="swiper-pagination-custom">
                          <li class='swiper-pagination-switch first active' data-index="0"><span class='switch-title'>I Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="1"><span class='switch-title'>II Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="2"><span class='switch-title'>III Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="3"><span class='switch-title'>IV Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="4"><span class='switch-title'>V Sem</span></li>
                          <li class='swiper-pagination-switch last' data-index="5"><span class='switch-title'>VI Sem</span></li>
                        </ul>
                        <!-- Progressbar -->
                        <div class="swiper-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                          <div class="swiper-pagination-progressbar-fill"></div>
                        </div>
                        <!-- Swiper -->
                        <div class="swiper swiper-container swiper-container--timeline">
                          <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                              <table>
                              <thead>
                                <tr>
                                  <th>Sr. No</th>
                                  <th>Paper Code</th>
                                  <th>Paper Title</th>
                                  <th>Credits</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>HI-101</td>
                                  <td>Ancient History of India</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>HI-102</td>
                                  <td>History Of Rajasthan</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>PS-101</td>
                                  <td>Introduction to Political Science</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>PS-102</td>
                                  <td>Modern Political Theory</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>SO-101</td>
                                  <td>Introduction to Sociology</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>SO-102</td>
                                  <td>Indian Society</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>EC-101</td>
                                  <td>Micro Economics-Basic</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>EC-102</td>
                                    <td>Micro Economics-Advanced</td>
                                    <td>3</td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>HI-201</td>
                                    <td>Medieval India</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>HI-202</td>
                                    <td>Main Trends of Cultural History of India</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>PS-201</td>
                                    <td>Indian Political Thought</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>PS-202</td>
                                    <td>Indian Polity</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>SO-201</td>
                                    <td>Society Culture and Social Globlazitaion</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>SO-202</td>
                                    <td>Indian Society: Issues and Problems</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>7</td>
                                    <td>EC-201</td>
                                    <td>Indian Economy</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>8</td>
                                    <td>EC-202</td>
                                    <td>Economics Of Rajasthan</td>
                                    <td>3</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>HI-301</td>
                                  <td>History Of Medieval India (1206-1526 AD)</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>HI-302</td>
                                  <td>Indian Society and culture (Up to 1200 AD)</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>PS-301</td>
                                  <td>Indian Political Thought-ll</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>PS-302</td>
                                  <td>Indian Constitution</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>SO-301</td>
                                  <td>Environment and Society</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>SO-302</td>
                                  <td>Methods in Social Research</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>EC-301</td>
                                  <td>Micro Economics-I</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>EC-302</td>
                                    <td>Micro Economics-II</td>
                                    <td>3</td>
                                  </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>HI-401</td>
                                  <td>History of India (1857-1947)</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>HI-402</td>
                                  <td>History Of India after 1947</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>PS-401</td>
                                  <td>Representative Western Political Thinkers – I</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>PS-402</td>
                                  <td>State Politics : Rajasthan</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>SO-401</td>
                                  <td>Rural Sociology</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>SO-402</td>
                                  <td>Social Change in India</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>EC-401</td>
                                  <td>Public Finance</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>EC-402</td>
                                    <td>Statistics For Economic Analysis</td>
                                    <td>3</td>
                                  </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>HI-501</td>
                                  <td>World History  (1453-1815)</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>HI-502</td>
                                  <td>World History (1815-1945)</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>PS-501</td>
                                  <td>Representative Western Political Thinkers – II</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>PS-502</td>
                                  <td>International Relations</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>SO-501</td>
                                  <td>Population Studies</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>SO-502</td>
                                  <td>Classical Sociological Thought</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>EC-501</td>
                                  <td>Development Economics – I</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>EC-502</td>
                                    <td>Development Economics – II</td>
                                    <td>3</td>
                                  </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>HI-601</td>
                                  <td>History Of Middle East Asia</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>HI-602</td>
                                  <td>Indian Society and Culture upto 1707 AD</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>PS-601</td>
                                  <td>Challanges to Democracy</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>PS-602</td>
                                  <td>Modern Political Theory – Part II</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>SO-601</td>
                                  <td>Indian Sociological Thinkers</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>SO-602</td>
                                  <td>Introduction Sub Sociologies</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>EC-601</td>
                                  <td>Money and Banking</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>EC-602</td>
                                    <td>International Economics</td>
                                    <td>3</td>
                                  </tr>
                              </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all fees">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <table>
                        <thead>
                          <tr>
                            <th>Sr. No</th>
                            <th>Name of Programme</th>
                            <th>Admission Fee (One Time) (In Rs.)</th>
                            <th>Programme Fee (Per Semester) (In Rs.)</th>
                            <th>Examination Fee (Per Semester) (In Rs.)</th>
                            <th>Total Amount (Per Semester) (In Rs.)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>B.A</td>
                            <td>500/-</td>
                            <td>5000/-</td>
                            <td>2000/-</td>
                            <td>7500/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock bca-content %}  
    